<a href="{{#if url}}{{url}}{{else}}#{{/if}}" class="btn{{#if size}} btn--{{size}}{{else}} btn--medium{{/if}}{{#if color}} btn--{{color}}{{else}} btn--standard{{/if}}">{{#if title}}{{title}}{{else}}Hello World{{/if}}</a>
