<section id="button" class="styleguide__section">

  <header class="styleguide__section-header">
    <h1 class="styleguide__section-title h2">button</h1>
    <pre class="fixed">\{{component 'button' options}}</pre>
    <pre class="fixed">options: {
  title:  "" [Hello World],
  url:    "" [#],
  color:  "{{#each components.button.colors}}{{color}}{{#unless @last}}|{{/unless}}{{/each}}" [standard],
  size:   "{{#each components.button.sizes}}{{size}}{{#unless @last}}|{{/unless}}{{/each}}" [medium]
}</pre>
  </header>

  <h3 id="button-colors" class="styleguide__list-title h3">colors</h3>
  <div class="styleguide__list">
    {{#each components.button.colors}}
      <div class="styleguide-block">
        <div class="styleguide-block__item">
          <h4 class="styleguide-block__title h4">{{color}}</h4>
          {{component 'button' color=color}}
          <pre class="styleguide-block__code fixed">&#123;&#123;component 'button' color="{{color}}"&#125;&#125;</pre>
          <pre class="styleguide-block__code fixed">{{component 'button' color=color unsafe=true}}</pre>
        </div>
      </div>
    {{/each}}
  </div>

  <h3 id="button-sizes" class="styleguide__list-title h3">sizes</h3>
  <div class="styleguide__list">
    {{#each components.button.sizes}}
      <div class="styleguide-block">
        <div class="styleguide-block__item">
          <h4 class="styleguide-block__title h4">{{size}}</h4>
          {{component 'button' size=size}}
          <pre class="styleguide-block__code fixed">&#123;&#123;component 'button' size="{{size}}"&#125;&#125;</pre>
          <pre class="styleguide-block__code fixed">{{component 'button' size=size unsafe=true}}</pre>
        </div>
      </div>
    {{/each}}
  </div>

</section>
